<div style="display: flex" ng-controller="mangerController">
  <div style="width: 5%">
    <nav class="nav__cont">
      <ul class="nav">
        <!-- <li class="nav__items">
          <i class="fa-solid fa-house"></i>
          <a ui-sref="AdminDashboard.projectList">Home</a>
        </li> -->

        <li class="nav__items">
          <i class="fa-solid fa-list"></i>
          <a ui-sref="MangerDashboard.viewProject">Projects</a>
        </li>
        <li class="nav__items">
          <i class="fa-solid fa-bars-progress"></i>
          <a ui-sref="MangerDashboard.viewTask">Task List</a>
        </li>
        <li class="nav__items">
          <i class="fa-solid fa-chart-simple"></i>
          <a ui-sref="MangerDashboard.statistics">Statistics</a>
        </li>
      </ul>
    </nav>
  </div>
  <div style="width: 95%">
    <ui-view></ui-view>

  </div>
</div>
