<div >
 <div
    style="
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      margin-bottom: 50px;
    "
  >
<div ng-repeat="item in statistics.projectStatusNumber track by $index" class="taskAnalysis">
      <div class="taskAnalysisHeadingClass">
        <h2>{{item._id}}</h2>
        <i style="font-size: 30px" class="fa-solid fa-bars-progress"></i>
      </div>
      <div>
        <h1
          style="
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          {{item.count}} 
        </h1>
      </div>
    </div>
    <div  class="taskAnalysis">
      <div class="taskAnalysisHeadingClass">
        <h2>Total</h2>
        <i style="font-size: 30px" class="fa-solid fa-bars-progress"></i>
      </div>
      <div>
        <h1
          style="
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          {{statistics.projectStatusNumber[0].count +statistics.projectStatusNumber[1].count+ statistics.projectStatusNumber[2].count }}
        </h1>
      </div>
    </div>
</div>


<div style="display: flex; justify-content: space-evenly; margin:40px">
  <div style="width: 40% ;display: flex; flex-direction: column; align-items: center; justify-content: center; ">
    <h3 style="margin: auto; display: flex; justify-content: center; margin-bottom: 20px; color:rgb(90, 90, 90)">Upcoming Deadlines</h3>
  <table class="analysisTable"  >
    <thead>
      <tr>
        <th>Sno</th>
        <th>Project Name</th>
        <th>Project Manager</th>
        <th>Deadline</th>
        <th>Days Left</th>
      
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="project in statistics.isUpcomingProjects">
        <td>{{$index+1}}</td>
        <td>{{project.projectName}}</td>
        <td>{{project.projectManger.name}}</td>
        <td>{{project.endDate | date : "dd/MM/yyyy"}}</td>
        <td>{{timeleft(project.endDate)}} days</td>
      </tr>
    </tbody>
  </table>
</div>
<div  style="width: 50% ; display: flex; flex-direction: column; align-items: center; justify-content: center; ">
  <h3 style="margin: auto; display: flex; justify-content: center; color:rgb(90, 90, 90)">Overdue Projects</h3>
  <table class="analysisTable">
    <thead>
      <tr>
        <th>Sno</th>
        <th>Project Name</th>
        <th>Project Manager</th>
        <th>Deadline</th>
        <th>Overdue</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="project in statistics.overDueProjects">
        <td>{{$index+1}}</td>
        <td>{{project.projectName}}</td>
        <td>{{project.projectManger.name}}</td>
        <td>{{project.endDate | date : "dd/MM/yyyy"}}</td>
        <td>{{timeleft(project.endDate)}} days</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
        <div style="display:flex ; justify-content: space-evenly; margin:100px">
          
        <canvas id="pie-chart" style="width: 10%; max-width: 350px"></canvas>
        <canvas id="barchart" style="width: 10%; max-width: 550px"></canvas>
      </div>
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin:60px">
          <label>Month:</label>
          <select style="width:10%" ng-change="monthChangeFunction(monthValue)" ng-model="monthValue">
            <!-- <option disabled selected value="03">March</option>-->
            <option value="01">January</option>
            <option value="02">Febuary</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        <canvas id="line" style="width: 100%; max-width: 800px"></canvas>
      </div>
      <h3 style="display: flex; justify-content: center; align-items: center;">Top 3 Employees</h3>
        <table style="width: 67% ; margin-top:10px ; margin-bottom:70px ;" class="content-table">
            <thead>
              <tr>
                <th>Sno</th>
                <th>Employee Name</th>
                <th>Average Time</th>
                <th>Completion Rate</th>
                <th>Task Assigned</th>
                <th>Task Completed</th>
              </tr>
            </thead>
      
            <tbody>
              <tr ng-repeat="Employee in statistics.top3Employees">
                <td>{{$index+1}}</td>
                <td>{{Employee.name}}</td>
                <td>{{((Employee.averageTime)/(1000*60*60*24)).toFixed(3)}}</td>
                <td>{{Employee.completionRate.toFixed(1)}}</td>
                <td>{{Employee.tasksAssigned}}</td>
                <td>{{Employee.tasksCompleted}}</td>
              </tr>
            </tbody>
          </table>
          <h3>Project Wise Analysis</h3>
          <div class="employeeProgress" >
          
            <div style="width:30% ; border:1px solid rgba(86, 86, 86, 0.301) ; padding:10px ;overflow: scroll; height:350px">
             <div>
             <label>Name of the Project: </label>
             <br>
             <input ng-change="searchProjectFunction(searchProject)" ng-model="searchProject"/>
             <h6 style="color:red" ng-show="project.length==0">No Project Matched</h6>
             <div  ng-repeat="item in project ">
               <div style="width:100% ; display: flex; justify-content: space-evenly; margin-top:10px; ">
                <h6>{{$index+1}}</h6>
               <h6>{{item.projectName}}</h6>
               <button class="showStatusClassOfEmployee" ng-click="statusFunctionOfProject(item.projectName , item._id, '03' )">
                 Show Status</button>
             </div>
             </div>
           </div>
            </div>
         
            <div style="width:70% ; border:1px solid rgba(86, 86, 86, 0.301); padding:30px">
              <div style="display: flex; justify-content: space-evenly;">
              <h4 style=" display: flex; text-align: center;">{{projectName}}</h4>
              <select style="width:20%" ng-change="monthChangeFunctionForProject(monthValue)" ng-model="monthValue">
           
                <option value="01">January</option>
                <option value="02">Febuary</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
              <canvas id="projectWiseAnalysis" style="width: 100%; max-width: 600px"></canvas>
            </div>
         
           </div>

</div>