<div style="display:flex" ng-controller="adminController">
   <!----------------------------------nav Bar starts---------------------------------------------------->
  <div style="width:5%">
  <nav class="nav__cont">
    <ul class="nav">
     
      <div>
      <h5 >{{organization}}</h5>
      <h5 style="margin-bottom: 50px;">{{username}}</h5>
      </div>
     

      <li class="nav__items ">
        <i class="fa-solid fa-list"></i>
        <a ui-sref="AdminDashboard.projectList" ui-sref-active="Active">Projects</a>
      </li>
      <li class="nav__items ">
        <i class="fa-solid fa-users"></i>
        <a ui-sref="AdminDashboard.allEmployees">Employees</a>
      </li>
      <li class="nav__items">
        <i class="fa-solid fa-chart-simple" ></i>
       <a ui-sref="AdminDashboard.statistics">Statistics</a>
      </li>
    </ul>
  </nav>
</div>
<div style="width:95%">
  <!-----------------------------------nav bar ends------------------------------------------------>



<ui-view></ui-view>


 
