<div ng-controller="adminEmployeesController">
  <div style="margin: 30px">
    <h1 style="display: flex; justify-content: center">List of Managers:</h1>
    <table style="width: 70%" class="content-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>User Name</th>
          <th>Show Projects</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in totalEmployees| filter :{role:'Manager'} ">
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.username }}</td>
          <td>
            <button
              ng-click="fetchUserDetails(user , 1)"
              data-toggle="modal"
              data-target="#myModal"
              style="margin: 0px"
              class="createButton"
            >
              Show Projects
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin: 30px">
    <h1 style="display: flex; justify-content: center">List of Employees:</h1>
    <table style="width: 70%" class="content-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>User Name</th>
          <th>Show Projects</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in totalEmployees |filter :{role:'Employee'} ">
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.username }}</td>
          <td>
            <button
              ng-click="fetchUserDetails(user)"
              data-toggle="modal"
              data-target="#myModal"
              style="margin: 0px"
              class="createButton"
            >
              Show Project
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!---------------------------------- modal starts ----------------------------------->

  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">View Employee</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
              <div
                class="imageInModal d-flex flex-column justify-content-center align-items-center"
              >
                <button class="avtarbtn btn-secondary">
                  <img
                    style="border-radius: 50%"
                    src="https://www.pixelwibes.com/template/my-task/html/dist/assets/images/lg/avatar3.jpg"
                    height="100"
                    width="100"
                  />
                </button>
                <span class="name mt-3">{{object.userData.firstName}}</span>
                <span class="idd">{{object.userData.username}}</span>
                <div
                  class="d-flex flex-row justify-content-center align-items-center gap-2"
                >
                  <span class="idd1">Oxc4c16a645_b21a</span>
                </div>
                <h5 style="color: red" ng-hide="object.showError">
                  No project Assinged yet
                </h5>
                <table

                  style="margin: 10px"
                  ng-hide="object.showEmployeeTicketTable"
                >
                  <thead>
                    <tr>
                      <th>Project</th>
                      <th ng-hide="object.userData.firstName==employeeProjects[0].projectManger.name" >Manager</th>
                      <th>Priority</th>
                      <th>start Date</th>
                      <th>End Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="projects in employeeProjects">
                      <td style="padding: 10px; text-align: center">
                        {{projects.project.projectName==undefined?projects.projectName:projects.project.projectName}}
                      </td>
                      <td ng-hide="object.userData.firstName==projects.projectManger.name">{{projects.projectManger.name}}</td>
                      <td ng-class="{'highPriority': projects.priority=='High' ,
                      'MediumPriority':projects.priority=='Medium' , 'lowPriority':projects.priority=='Low'}">{{projects.priority}}</td>

                      <td>{{projects.startDate | date:"dd/MM/yyyy"}}</td>
                      <td>{{projects.endDate | date:"dd/MM/yyyy"}}</td>
                    </tr>
                  </tbody>
                </table>
                <ul style="padding: 0px" class="pagination">
                  <li>
                    <button
                      ng-class="{disabledPage: currentPage == 1}"
                      ng-click="setPage(1)"
                    >
                      First
                    </button>
                  </li>
                  <li>
                    <button
                      ng-class="{disabledPage: currentPage == 1}"
                      ng-click="setPage(currentPage - 1)"
                    >
                      Previous
                    </button>
                  </li>
                  <li
                    ng-repeat="page in pages track by $index"
                    ng-class="{active: currentPage == page}"
                  >
                    <button ng-click="setPage(page)">{{page}}</button>
                  </li>
                  <li>
                    <button
                      ng-class="{disabledPage: currentPage == totalPages}"
                      ng-click="setPage(currentPage + 1)"
                    >
                      Next
                    </button>
                  </li>
                  <li>
                    <button
                      ng-class="{disabledPage: currentPage == totalPages}"
                      ng-click="setPage(totalPages)"
                    >
                      Last
                    </button>
                  </li>
                </ul>

                <div class="px-2 rounded mt-4 date">
                  <span class="join">Joined May,2021</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!------------------------------------ modal ends ------------------------------------->
</div>
