<h1>{{message}}</h1>

<table class="content-table">
  <thead>
    <tr>
      <th>Project assigned</th>

      <th>Start Date</th>
      <th>End Date</th>
      <!-- <th>Days left</th> -->
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="project in response">
      <td>{{project.projectName}}</td>
      <td>{{project.startDate | date:"dd/MM/yyyy"}}</td>
      <td>{{project.endDate | date:"dd/MM/yyyy"}}</td>
      <!-- <td>{{project.endDate}}</td> -->
      <td
        ng-repeat="item in project.assignedTo | filter:{assignedUserId :employeeId } "
      >
        <button
          style="border: none" 
          ng-hide="item.isStarted"
          ng-click="startTicket(project)"
        >
          Start Ticket
          <!-- {{startTicketMessage}} <div ng-hide="hideLoader" class="loader"></div>  -->
        </button>
        <button style="border: none" ng-show="item.isStarted">
          <a ui-sref="EmployeeDashboard.ticketDetails({id:project._id})"
            >View Ticket</a
          >
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ui-view></ui-view>
