<div ng-controller="mangerController">
  <div>
    <h1>{{message}}</h1>

    

    <button
      style="width: 15% ; height:35px"
      class="displayTicketsClass"
      ng-click="managerViewTaskButton()"
      ui-sref="MangerDashboard.viewTask"
      ng-hide="showManagerDashboardButton"

    >
    view Task
    </button>
    <button
      style="width: 15% ; height:35px"
      class="displayTicketsClass"
      ng-click="backToManagerDashBoard()"
      ui-sref="MangerDashboard"
      ng-hide="showGoBackButton"
     
    >
    Go Back
    </button>
  </div>
  <ui-view></ui-view>
  <div style="padding-bottom:50px" ng-hide="showManagerDashboard">
    <table class="content-table">
      <thead>
        <tr>
          <th>Projects Assigned</th>
          <th>Employee Assigned</th>
          <th>Progress</th>
          <th>Assigned At</th>
          <th>Status</th>
          <th>Add Tasks</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="project in response">
          <td>{{project.projectName}}</td>

          <td>
            <li style="display: flex" ng-repeat="item in project.assignedTo">
              {{item.name}}
              <h6 style="margin: 4px" ng-hide="item.isStarted">
                (not started)
              </h6>
            </li>
          </td>
          <td>
            {{ project.progress.percentage /project.assignedTo.length }} %
          </td>
          <td>{{project.createdAt | date:"dd/MM/yyyy"}}</td>
          <td>
            <button class="displayTicketsClass" ng-click="getTickets(project)">
              Status
            </button>
          </td>
          <td>
            <button
              class="displayTicketsClass"
              data-toggle="modal"
              data-target="#addTaskModal"
              ng-click="addTasks(project)"
            >
              Add Task
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <h4 ng-show="noTickets" style="text-align: center; color: red">
      No tickets has been initiated by the employee
    </h4>

    <div
      ng-hide="ViewTicketLoader"
      style="margin: auto; margin-top: 10px; height: 70px; width: 70px"
      class="loader"
    ></div>

    <div ng-hide="hideticket">
      <div class="displayAllTickets">
        <div class="ticketDetailsClass" ng-repeat="tickets in ticket">
          <div class="ticketHeader">
            <h5 class="ticketStatus">{{tickets.status}}</h5>
            <h4>
              <i class="fa-sharp fa-solid fa-bars-progress"></i>
              {{tickets.progress.percentage}} %
            </h4>
          </div>
          <button
            data-toggle="modal"
            data-target="#ViewTaskModal"
            ng-click="viewAssignedTask(tickets)"
            class="ticketButton"
            style="margin-bottom: 30px"
          >
            View Tasks
          </button>
          <div>
            <div style="display: flex; justify-content: space-evenly">
              <h5>Name:-</h5>
              <h5>{{tickets.user.name}}</h5>
            </div>

            <div style="display: flex; justify-content: space-evenly">
              <h5>Username:-</h5>
              <h5>{{tickets.user.username}}</h5>
            </div>
            <hr />
            <div style="display: flex; justify-content: space-around">
              <h6>Created at:-</h6>
              <h6>{{tickets.createdAt | date:"dd/MM/yyyy"}}</h6>
            </div>
            <hr />
          </div>
          <div class="ticketFooter">
            <h3
              ng-click="viewComments(tickets)"
              data-toggle="modal"
              data-target="#CreateModal"
            >
              <i class="fa-sharp fa-solid fa-comment"></i>
            </h3>
            <h5
              ng-class="{'highPriority': tickets.priority=='High' ,
        'MediumPriority':tickets.priority=='Medium' , 'lowPriority':tickets.priority=='Low'}"
            >
              {{tickets.priority}}
            </h5>
          </div>
        </div>
      </div>
      <!-- <canvas id="pie-chart" style="width: 10%; max-width: 300px"></canvas> -->
    </div>

    <div class="modal" id="CreateModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Comments</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <h5>{{showNoComments}}</h5>
            <div ng-repeat="comment in comments">
              <h5>{{comment.comments.comment }}</h5>
              <h5>By:- {{comment.comments.commentBy.name }}</h5>
              <h5 style="color: #fb7474">
                {{comment.comments.commentBy.role }}
              </h5>

              <hr />
            </div>

            <form name="addCommentsForm" role="form" autocomplete="off">
              <input
                type="text"
                name="addComments"
                ng-model="addComments"
                ng-required="true"
              />
              <button
                ng-click="addCommentsFormSubmit($event)"
                ng-disabled="addCommentsForm.$invalid"
                type="submit"
              >
                Add Comment
              </button>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!---------------------------------- modal starts ----------------------------------->

    <div class="modal" id="addTaskModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Assign Task</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form
              class="projectClass"
              style="height: 60vh"
              name="addTaskForm"
              role="form"
            >
              <!-- <span ng-show="showError" class="formerror"
              >Project is already present</span
            > -->
              <input
                type="text"
                ng-model="taskName"
                name="taskName"
                placeholder="Task Name"
                ng-required="true"
                style="text-align: center"
              />
              <input
                type="text"
                ng-model="taskDescription"
                name="taskDescription"
                placeholder="Task Description"
                ng-required="true"
                style="text-align: center"
              />
              <select
                ng-required="true"
                ng-change="taskEmployeeListed(taskeEmployeesAssigned)"
                ng-model="taskeEmployeesAssigned"
              >
                <option value="" disabled selected>Employees assigned</option>

                <option
                  ng-repeat="item in employeesAssignedToTask track by $index"
                  value="{{item}}"
                  name="role"
                >
                  {{item.username}}
                </option>
              </select>

              <div ng-repeat="item in taskEmployeeListView track by $index">
                <h5>{{item}}</h5>
              </div>

              <label>Start Date</label>
              <input
                type="Date"
                ng-model="startDate"
                name="taskStartDate"
                placeholder="Start Date"
                ng-required="true"
                style="text-align: center"
              />

              <label>End Date</label>
              <input
                type="Date"
                ng-model="endDate"
                name="TaskendDate"
                placeholder="Start Date"
                ng-required="true"
                style="text-align: center"
              />
              <button
                class="createButton"
                type="submit"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
                ng-disabled="addTaskForm.$invalid"
                ng-click="addTaskFunction($event)"
              >
                Create Task
              </button>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!------------------------------------ modal ends ------------------------------------->

    <!-------------------------------------- view task modal starts-------------------------------------------->

    <div class="modal" id="ViewTaskModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">View Tasks</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <!-- <h1>hello</h1> -->

            <h5 style="color: red">{{showNoTaskAssigned}}</h5>
            <div
              ng-repeat="item in viewTask track by $index"
              style="
                width: 60%;
                background-color: whitesmoke;
                padding: 14px;
                border-radius: 12px;
                margin: 10px;
              "
            >
              <div style="display: flex; justify-content: space-between">
                <h5>{{item.task.taskName}}</h5>
                <h5>{{item.status}}</h5>
              </div>
              <h6>{{item.task.taskDescription}}</h6>

              <h6>
                <i class="fa-solid fa-calendar-days"></i> {{item.startDate |
                date:"dd/MM/yyyy"}}
              </h6>
              <h6>
                <i class="fa-solid fa-calendar-days"></i> {{item.endDate |
                date:"dd/MM/yyyy"}}
              </h6>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------------- view task modal ends-------------------------------------------->
</div>
