<div ng-controller="ticketDetailsController">
  <div class="ticketClass">
    <div class="ticketHeader">
      <h5
        ng-class="{'highPriority': priority=='High' ,
      'MediumPriority': priority=='Medium' , 'lowPriority':priority=='Low'}"
        style="margin-bottom: 20px"
      >
        {{priority}}
      </h5>
      <h5 class="ticketStatus">{{status}}</h5>
    </div>

    <hr />
    <button
      data-toggle="modal"
      data-target="#ViewTaskModal"
      ng-click="viewAssignedTask()"
      class="ticketButton"
    >
      View Tasks
    </button>
    <hr />
    <div class="ticketDetails">
      <h5>Project Name:- {{projectName}}</h5>
      <h5>project Manger :- {{projectManagerName}}</h5>
    </div>
    <hr />
    <div class="addTags">
      <form name="progressForm" role="form" style="text-align: center">
        <select
          ng-required="true"
          ng-model="progressStatus"
          style="text-align: center; margin-left: 10px"
        >
          <option value="started">Started</option>
          <option value="inProgress">Progress</option>
          <option value="completed">Completed</option>
        </select>
        <button
          class="ticketButton"
          type="submit"
          ng-disabled="progressForm.$invalid"
          ng-click="progressSubmitFunction($event)"
        >
          Update Tag
          <div
            ng-hide="updateStatusLoader"
            style="margin-left: 10px"
            class="loader"
          ></div>
        </button>
      </form>
    </div>
    <hr />

    <div class="addComments">
      <form name="addCommentsForm" role="form" style="text-align: center">
        <input
          ng-model="addComments"
          type="text"
          ng-required="true"
          placeholder="Add Comments"
          style="text-align: center"
        />

        <button
          type="submit"
          class="ticketButton"
          ng-disabled="addCommentsForm.$invalid"
          ng-click="addCommentsFormSubmit($event)"
        >
          Add Comment
          <div
            ng-hide="CommentLoader"
            style="margin-left: 10px"
            class="loader"
          ></div>
        </button>

        <hr />
      </form>
      <form name="progressBarForm" role="form" style="text-align: center">
        <label>Progress {{progressBar}}%</label>
        <input
          ng-model="progressBar"
          ng-change="progressBarChange(progressBar)"
          min="0"
          max="100"
          type="range"
          class="ticketprogressBar"
        />
        <button
          type="submit"
          class="ticketButton"
          ng-disabled="progressBarForm.$invalid"
          ng-click="addProgressFormSubmit($event)"
        >
          Update Progress
          <div
            ng-hide="ProgressLoader"
            style="margin-left: 10px"
            class="loader"
          ></div>
        </button>
      </form>
      <hr />

      <div class="addComments">
        <form name="addFile" role="form" style="text-align: center">
          <input
            type="file"
            ng-required="true"
            placeholder="Add File"
            style="text-align: center; margin-left: 50px"
            file-model="formData.file"
          />

          <button
            type="submit"
            class="ticketButton"
            ng-disabled="addFile.$invalid"
            ng-click="addFileFormSubmit($event)"
          >
            Add Image
          </button>
        </form>

        <hr />
      </div>
      <div
        style="
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
        "
      >
        <h6>view Comments</h6>
        <h3
          style="text-align: center; margin-left: 12px; cursor: pointer"
          ng-click="viewComments(tickets)"
          data-toggle="modal"
          data-target="#CreateModal"
        >
          <i class="fa-sharp fa-solid fa-comment"></i>
        </h3>
      </div>
    </div>
  </div>

  <!----------------------------- comment modal ------------------------------------------------------>

  <div class="modal" id="CreateModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Comments</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <h5>{{showNoComments}}</h5>
          <div ng-repeat="comment in comments">
            <h5>{{comment.comments.comment }}</h5>
            <image style="height:20% ; width: 20%;"
            ng-hide={{comment.comments.file==undefined}}
            src="{{comment.comments.file}}"/>
            <h6>By:- {{comment.comments.commentBy.name }}</h6>
            <h6 style="color: #fb7474">{{comment.comments.commentBy.role }}</h6>

            <hr />
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------- comment modal ends ------------------------------------------------------>

  <!-------------------------------------- view task modal starts-------------------------------------------->

  <div class="modal" id="ViewTaskModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">View Tasks</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <!-- <h1>hello</h1> -->
          <h5 style="color:red">{{showNoTaskAssigned}}</h5>
          <div
            ng-repeat="item in viewTask track by $index"
            style="
              width: 80%;
              background-color: whitesmoke;
              padding: 14px;
              border-radius: 12px;
              margin:10px;
            "
          >
            <div style="display: flex; justify-content: space-between">
              <h5>{{item.task.taskName}}</h5>
             
              <select
          ng-required="true"
          ng-model="taskStatus"
          ng-change="taskStatusChangeFunction( $index)"
          style="text-align: center; margin-left: 10px ; width:50%"
        >
        <option value="" disabled selected>{{item.status}}</option>
          <option value="started">Started</option>
          <option value="working">Working</option>
          <option value="completed">Completed</option>
        </select>
        <button  ng-show="isSelected===$index" ng-click="taskStatusFunction(taskStatus , item._id)">update</button>
            </div>
            <h6>{{item.task.taskDescription}}</h6>

            <h6><i class="fa-solid fa-calendar-days"></i>  {{item.startDate | date:"dd/MM/yyyy"}}</h6>
            <h6> <i class="fa-solid fa-calendar-days"></i> {{item.endDate | date:"dd/MM/yyyy"}}</h6>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-------------------------------------- view task modal ends-------------------------------------------->
</div>
